.recipes-block-display {
  display: grid;
  grid-template-columns: repeat(5, 12.5rem);
  grid-template-rows: auto auto;
  gap: 1rem;
  height: 45rem;
  overflow: hidden;
  overflow-y: auto;
  max-width: fit-content;
  padding-right: 1rem;
}

.recipes-block-display::-webkit-scrollbar {
  width: 0.7rem;
}

.recipes-block-display::-webkit-scrollbar-track {
  background-color: var(--white);
  border: 0.1rem solid var(--light-beige);
  border-radius: 1.2rem;
}

.recipes-block-display::-webkit-scrollbar-thumb {
  background: var(--light-beige);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.recipes-block-display::-webkit-scrollbar-thumb:hover {
  background: var(--beige);
}
