.recipes-block-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  max-width: 100%;
  height: 40rem;
  overflow-y: auto;

  padding-right: 1rem;
}

.recipes-block-display::-webkit-scrollbar {
  width: 0.7rem;
}

.recipes-block-display::-webkit-scrollbar-track {
  background-color: var(--white);
  border: 0.1rem solid var(--light-beige);
  border-radius: 1.2rem;
}

.recipes-block-display::-webkit-scrollbar-thumb {
  background: var(--light-beige);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.recipes-block-display::-webkit-scrollbar-thumb:hover {
  background: var(--beige);
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  font-style: italic;
  color: var(--beige);
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: var(--beige);
  text-align: center;
}
.selected-filter {
  padding-left: 3rem;
  margin: 0 0 1rem 0;
}

@media (max-width: 1500px) {
  .recipes-block-display {
    grid-template-columns: repeat(4, 1fr)
  }
}
@media (max-width: 1300px) {
  .recipes-block-display {
    grid-template-columns: repeat(3, 1fr)
  }
}
@media (max-width: 1000px) {
  .recipes-block-display {
    grid-template-columns: repeat(2, 1fr);
    max-width: fit-content;
  }
}

@media (max-width: 500px) {
  .recipes-block-display {
    grid-template-columns: 1fr;
  }
}