.dashboard-page-content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  max-width: 100%;
  gap: 1rem;
}

.side-nav-with-search-field-and-recipes-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  max-width: 100%;
}



.search-field-and-recipes-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 2rem;
  margin: 1rem;
  position: relative;
  overflow: visible;
  width: 100%;
  min-width: 0; 
}

.search-field-and-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
  position: relative;
  gap: 1rem;
}
.recipes-list-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-filter-content {
  position: relative;
  z-index: 9999;
  background: var(--white);
  max-width: 100%; 
}

@media (max-width: 800px) {
  .side-nav-with-search-field-and-recipes-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
  }
  .search-field-and-filters {
   flex-direction: column;
   gap: 1rem;
  }
}
@media (max-width: 1100px) {
  .dashboard-page-content {
    justify-content: center;
    align-items: center;
  }
  .side-nav-with-search-field-and-recipes-list {
    justify-content: center;
  }
  .recipes-list-content{
    display: flex;
    justify-content: center;
  }
  .menu-filter-content{
    justify-content: center;
  }

}