.side-nav-bar {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 14rem;
}
.side-nav-bar-wrapper {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  width: 14rem;
  max-height: 50rem;
  justify-content: space-between;
  background-color: var(--side-menu-background-color);
  box-shadow: 0.5rem 0.5rem 1rem var(--box-shadow);
  padding: 0.8rem 0.8rem;
  border-radius: 1.2rem;
}
