.upper-nav-bar-content {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 1rem;
  justify-content: right;
}
.icon {
  width: 1.5rem;
  height: 2rem;
  transition: transform 0.2s ease;
  filter: brightness(0) saturate(100%) invert(50%);
}
.upper-menu-sign-in-content {
  background-color: var(--white);
  border: 0.15rem solid var(--primary-color);
  padding: 0.3rem 1rem;
  color: dimgray;
  border-radius: 2rem;
  display: flex;
}
.upper-menu-sign-in-content:hover {
  background-color: var(--white);
  border: 0.15rem solid var(--white);
  color: dimgray;
  text-shadow: 0.05rem 0.05rem 0.2rem var(--box-shadow);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--box-shadow);
}
.logo {
  width: 25rem;
}
.upper-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 1.5rem 2.5rem;
}
